body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

textarea {
  width: 60%;
  height: 250px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
}

.buttons {
  text-align: center;
  animation: both 2000ms ease-in;
}

button {
  text-align: center;
  padding: 10px;
  width: 200px;
  margin: 10px 20px;
  font-size: 14px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

button:hover {
  background-color: #0056b3;
}

#resultado {
  width: 60%;
  padding: 10px;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #ccc;
  min-height: 50px;
  white-space: pre-wrap;
}
